* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Dosis', sans-serif;
}

#homepage-container {
	display: flex;
	overflow: hidden;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #4caee3;
	align-content: center;
}

.landing-page-text,
.welcome-text,
.secondary-text {
	color: #ffffff;
	text-align: center;
	margin: 2rem;
}

#homepage-container .icon-container {
	margin-left: 4rem;
}

#homepage-container .project-button-container {
	display: flex;
	justify-content: center;
	margin: 3.5rem 2rem 0 2rem;
	padding-right: 3.6rem;
}


