* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Dosis', sans-serif;
}

#homepage-container {
	display: flex;
	overflow: hidden;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #e34b4a;
	align-content: center;
}

.landing-page-text,
.welcome-text,
.secondary-text {
	color: #ffffff;
	text-align: center;
	margin: 2rem;
	font-size: 2rem;
}

h3.secondary-text {
    font-size: 24px;
}

#homepage-container .icon-container {
	margin-left: 4rem;
}

#homepage-container .project-button-container {
	display: flex;
	justify-content: center;
	margin: 3.5rem 2rem 0 2rem;
	padding-right: 3.6rem;
}



.skill-container {
	color: #000000;
}

.skill-container h1 {
	font-size: 3rem;
	text-align: center;
	margin: 2rem;
	height: 100%;
	color: black;
	padding-top: 3rem;
}

#skill-container.skill-icon {
	display:inline-block; width:60px;
}
